@import '../styles/variables.scss';

.cardContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 50px;
    padding: 56px 50px;
    position: relative;
    margin: 30px 100px;
    background-color: $color-back;
    border-radius: 25px;

    a{
        display: flex;
        justify-content: center;
    }
}

@media (width < 1450px ){
    .cardContainer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width < 1050px){
    .cardContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 22px;
    }
}

@media (width <= 768px ){
    .cardContainer{
        margin:20px;
    }
}
@media (width < 500px){
    .cardContainer{
        background-color: white;
        padding: 0;
    }
}