.caroussel {
    height: 415px;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}
.caroussel .img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    border-radius: 25px;
    opacity: 0;
    transition: all 0.5s ease;
    width:100%;
    height:415px;
}
  
.caroussel .img.show {
    opacity: 1;
}
  
.leftArrow,
.rightArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px 20px;
}
  
.leftArrow,
.rightArrow:hover {
    cursor: pointer;
}
  
.leftArrow {
    left: 0%;
}
  
.rightArrow {
    right: 0%;
}
  
.counter {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px;
    font-size: 18px;
}
  
