.header{
    display: flex;
    justify-content: space-between;
    margin: 25px 100px;
}
.header nav{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;  
    display: flex;
    gap: 20px; 
}
.header nav a{
    color: black;
}
