.starsContainer{
    display: flex;
    gap: 10px;
}

@media (width <= 768px){
    .starsContainer{
        gap: 7px;
        .red,
        .gray{
            width:13px;
            height: 13px;
        }
    }
}